.footer {
  background-image: url("../images/footer-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(185, 230, 185);
  color: $darkBlue;
  a {
    text-decoration: none;
  }
  .footer-content {
    flex-direction: column;
    margin: 0 2rem;
    text-align: center;
    gap: 20px;
    .full-icon {
      img {
        height: 200px;
        width: 300px;
        margin-top: 2rem;
      }
      align-self: center;
    }
    .location {
      .map {
        height: 200px;
        min-width: 300px;
      }
    }
    @include breakpoint-up(large) {
      text-align: left;
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .quick-links {
    a {
      color: $darkBlue;
      &:hover {
        color: $secondaryColor;
        font-size: scale(1.1);
      }
    }
  }
  .final {
    font-size: 0.8rem;
  }
}
