//Colors
$primaryColor: #84c32c;
$secondaryColor: #0d1e58;
$white: #fff;
$alert: hsl(20, 100%, 70%);
$brightCyan: hsl(192, 70%, 51%);
$darkBlue: hsl(240, 100%, 27%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
//Font sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-xlg: 3.25rem; //52px
